<div class="row edit-work">
  <div class="row">
    <div class="col-sm-2"><b>{{task.id}}</b></div>
    <div class="col-sm-10"><span class="edit-work-title">{{task.title}}</span></div>
  </div>
  <div class="row intervals-container">
    <div class="col-sm-12">
      <div class="row edit-interval edit-work" *ngFor="let wi of task.workTime; let i = index">
        <app-working-interval
          [workingInterval]="wi"
          (onDelete)="deleteWI(i)">
        </app-working-interval>
      </div>
    </div>
  </div>
</div>
  