<div class="task-item"
    [ngClass]="{'task-item-active': isActive, 'task-item-running': task.started}"
    (click)="toggleActive($event)">
  <div class="row">
    <div class="col-sm-9">
      <h2>{{task.title}}</h2>
    </div>
    <div class="col-sm-3">
      <div class="row">
        <div class="col-sm-6">
          <button disabled *ngIf="isActive || task.started" (click)="edit($event)" class="btn btn-xs vertical-align1 btn-warning">Edit</button>
          <button *ngIf="isActive || task.started" (click)="delete($event)" class="btn btn-xs vertical-align1 btn-danger">Delete</button>
        </div>
        <div class="col-sm-6 buttons-right">
          <button (click)='toggleStartStop($event)'
              class="btn btn-primary vertical-align1"
              [ngClass]="{'btn-warning': task.started, 'btn-success': !task.started}">
              {{task.started ? 'Stop' : 'Start'}}
          </button>
          <button (click)="moveUp($event)" class="btn btn-xs vertical-align1"><span class="glyphicon glyphicon-arrow-up"></span></button>
          <button (click)="moveDown($event)" class="btn btn-xs vertical-align1"><span class="glyphicon glyphicon-arrow-down"></span></button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 h3">{{task.id}}</div>
    <div class="col-sm-9">
      <div *ngIf="isActive || task.started">
        <div class="row timers">
          <div class="col-sm-3">
            <div class="row">
              <span class="span-timer-desc">Total time:</span>
            </div>
            <div class="row">
              <span class="span-timer">{{totalTime()}}</span>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="row">
              <span class="span-timer-desc">This week:</span>
            </div>
            <div class="row">
              <span class="span-timer">{{totalTimeWeek()}}</span>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="row">
              <span class="span-timer-desc">Today:</span>
            </div>
            <div class="row">
              <span class="span-timer">{{totalTimeToday()}}</span>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="row">
                <span class="span-timer-desc" *ngIf="task.started">Running:</span>
            </div>
            <div class="row">
              <span class="span-timer" *ngIf="task.started">{{timer}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
