<div class="task-item" [ngClass]="{'task-item-active': isActive}"
    (click)="toggleActive()">
  <div class="row">
    <div class="col-sm-9">
      <h2>{{task.title}}</h2>
    </div>
    <div class="col-sm-3 buttons">
        <button (click)='toggle($event)'
            class="btn btn-primary vertical-align"
            [ngClass]="{'btn-warning': task.taskStarted, 'btn-success': !task.taskStarted}">
            {{task.taskStarted ? 'Stop' : 'Start'}}
        </button>
        <button (click)="moveUp($event)" class="btn btn-xs vertical-align"><span class="glyphicon glyphicon-arrow-up"></span></button>
        <button (click)="moveDown($event)" class="btn btn-xs vertical-align"><span class="glyphicon glyphicon-arrow-down"></span></button>  
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 h3">{{task.id}}</div>
    <div class="col-sm-6">
      <div class="vertical-align">Time spent: {{totalTime()}}</div>
    </div>
    <div class="col-sm-3">
        <button disabled (click)="edit($event)" class="btn btn-xs vertical-align btn-edit">Edit</button>
        <button (click)="delete($event)" class="btn btn-xs vertical-align btn-delete">Delete</button>  
    </div>
  </div>
</div>
