<div class="row edit-work">
  <div class="row">
    <div class="col-sm-2"><b>{{task.id}}</b></div>
    <div class="col-sm-10">
      <span class="edit-work-title">{{task.title}}</span>
    </div>
  </div>
  <div class="row filter">
      <span style="margin-left: 20px;">From:</span>
      <input class="edit-time-filter" #from>
      <button type="button" class="close" aria-label="Close" (click)="from.value=''" style="float:initial">
        <span aria-hidden="true">&times;</span>
      </button>
      <span>To:</span>
      <input class="edit-time-filter" #to>
      <button type="button" class="close" aria-label="Close" (click)="to.value=''" style="float:initial">
        <span aria-hidden="true">&times;</span>
      </button>
      <button class="edit-time-button" (click)="applyFilter(from.value, to.value)">Filter</button>
      <span class="span-timer-desc" style="margin-right: 20px;">{{totalTime()}}</span>
  </div>
  <div class="row intervals-container">
    <div class="col-sm-12">
      <app-working-interval *ngFor="let wi of task.workTime; let i = index"
        [filterFrom]="filterFrom"
        [filterTo]="filterTo"
        [workingInterval]="wi"
        (onDelete)="deleteWI(i)">
      </app-working-interval>
    </div>
  </div>
</div>
