<div class="container">
  <h1>Work Tracking <span class="badge">Helper tool for Jira ®</span></h1>

  <div class="alert alert-info" style="margin-top: 5px;" role="alert"
      *ngIf="taskManager.runningTask == null || !taskManager.isDataSaved()">
    <span *ngIf="taskManager.runningTask == null" class="h4">All tasks stopped.</span>
    <span *ngIf="taskManager.runningTask != null"class="h4">Task <b>{{taskManager.runningTask.id}}</b> is running now.</span>
    <span *ngIf="!taskManager.isDataSaved()" class="h4 text-danger">Data is not saved to file!</span>
  </div>
  <div class="alert alert-warning" style="margin-top: 5px;" role="alert"
      *ngIf="taskManager.loadedFromFile">
    <span class="h4">To use imported from File: 1. Save to Local Storage, 2. Load from Local Storage.</span>
  </div>

  <app-tasks-list [tasks]="taskManager.tasks"
      [timer]="taskDurationStr"
      (taskStart)="onStartTask($event)"
      (taskStop)="onStopTask()"
      (taskMoveUp)="taskManager.moveUp($event)"
      (taskMoveDown)="taskManager.moveDown($event)"
      (taskEdit)="taskManager.edit($event)"
      (taskDelete)="taskManager.delete($event)">
  </app-tasks-list>

  <div class="toolbar" [ngClass]="{'edit-new-task': newTaskEditing}">
    <button class="btn btn-success"
      (click)="toggleNewTaskEditing()">New Task</button>

    <button class="btn btn-primary"
      (click)="saveWork()">Save to Local Storage</button>

    <button class="btn btn-warning"
      (click)="taskManager.loadData()">Load from Local Storage</button>

    <button class="btn btn-warning"
      (click)="toggleWorkEditing()">Edit Work</button>

    <button class="btn btn-warning"
      (click)="exportToFile()">Export to File</button>

    <label class="btn btn-warning">
      Import from File
      <input type="file"
          accept="text/plain"
          (change)="importFromFile($event)"
          style="display: none">
    </label>

    <!-- <button class="btn btn-warning"
      (click)="this.taskManager.toggleSaved()">Data {{this.taskManager.isDataSaved() ? '' : 'IS NOT'}} saved</button> -->
  </div>

  <form #f="ngForm" class="new-task-form" [ngClass]="{'edit-new-task': !newTaskEditing}">
      <h3>New Task:</h3>

      <div class="form-group">
        <label for="id">ID</label>
        <input #id type="text" class="form-control" id="id" name="id" required ngModel>
      </div>

      <div class="form-group">
        <label for="title">Title</label>
        <input #title type="text" class="form-control" id="title" name="title" required ngModel>
      </div>

      <div class="form-group">
        <label for="priority">Priority</label>
        <input #priority type="text" class="form-control" id="priority" name="priority" required ngModel>
      </div>

      <!--type="submit"-->
      <button class="btn btn-success" (click)="addTask(id.value, title.value, priority.value, f)">Submit</button>
      <button class="btn btn-success" (click)="toggleNewTaskEditing()">Cancel</button>
  </form>

  <div class="alert alert-info" style="margin-top: 5px;" role="alert"
      *ngIf="taskManager.runningTask == null || !taskManager.isDataSaved()">
    <span *ngIf="taskManager.runningTask == null" class="h4">All tasks stopped.</span>
    <span *ngIf="taskManager.runningTask != null"class="h4">Task <b>{{taskManager.runningTask.id}}</b> is running now.</span>
    <span *ngIf="!taskManager.isDataSaved()" class="h4 text-danger">Data is not saved to file!</span>
  </div>
  <div class="alert alert-warning" style="margin-top: 5px;" role="alert"
      *ngIf="taskManager.loadedFromFile">
    <span class="h4">To use imported from File: 1. Save to Local Storage, 2. Load from Local Storage.</span>
  </div>

  <app-work-edit *ngIf="workEditing"
    [taskManager]="taskManager"
    (onClose)="toggleWorkEditing()">
  </app-work-edit>
</div>
