<div class="container">
  <h1>Work Tracking <span class="badge">Helper tool for Jira ®</span></h1>

  <div class="alert alert-warning" style="margin-top: 5px;" role="alert" *ngIf="taskManager.runningTask == null">
      <span class="h4">All tasks stopped!</span>
  </div>
  <div class="alert alert-success" style="margin-top: 5px;" role="alert" *ngIf="taskManager.runningTask != null">
      <span class="h4">Task <b>{{taskManager.runningTask.id}}</b> is running now.</span>
  </div>

  <app-tasks-list [tasks]="taskManager.tasks"
      [timer]="timer"
      (onTaskStarted)="startTask($event)"
      (onTaskStopped)="stopTask()"
      (onTaskMovedUp)="taskManager.moveUp($event)"
      (onTaskMovedDown)="taskManager.moveDown($event)"
      (onTaskEdit)="taskManager.edit($event)"
      (onTaskDelete)="taskManager.delete($event)">
  </app-tasks-list>

  <button class="btn btn-success"
    [ngClass]="{'edit-new-task': newTaskEditing}"
    (click)="toggleNewTaskEditing()">New Task</button>

  <button class="btn btn-primary"
    [ngClass]="{'edit-new-task': newTaskEditing}"
    (click)="taskManager.saveData()">Save Work</button>

  <button class="btn btn-warning"
    [ngClass]="{'edit-new-task': newTaskEditing}"
    (click)="taskManager.loadData()">Load Work</button>

  <button class="btn btn-warning"
    [ngClass]="{'edit-new-task': newTaskEditing}"
    (click)="toggleWorkEditing()">Edit Work</button>

  <form #f="ngForm" class="new-task-form" [ngClass]="{'edit-new-task': !newTaskEditing}">
      <h3>New Task:</h3>

      <div class="form-group">
        <label for="id">ID</label>
        <input #id type="text" class="form-control" id="id" name="id" required ngModel>
      </div>

      <div class="form-group">
        <label for="title">Title</label>
        <input #title type="text" class="form-control" id="title" name="title" required ngModel>
      </div>

      <div class="form-group">
        <label for="priority">Priority</label>
        <input #priority type="text" class="form-control" id="priority" name="priority" required ngModel>
      </div>

      <!--type="submit"-->
      <button class="btn btn-success" (click)="addTask(id.value, title.value, priority.value, f)">Submit</button>
      <button class="btn btn-success" (click)="toggleNewTaskEditing()">Cancel</button>
  </form>

  <div class="alert alert-warning" style="margin-top: 15px;" role="alert" *ngIf="taskManager.runningTask == null">
    <span class="h4">All tasks stopped!</span>
  </div>
  <div class="alert alert-success" style="margin-top: 15px;" role="alert" *ngIf="taskManager.runningTask != null">
    <span class="h4">Task <b>{{taskManager.runningTask.id}}</b> is running now.</span>
  </div>

  <app-work-edit-list *ngIf="workEditing"
    [taskManager]="taskManager"
    (onClose)="toggleWorkEditing()">
  </app-work-edit-list>
</div>
