<div class="bg-warning">
  <div class="row">
    <div class="col-sm-10">
      <h3>Edit Work</h3>
    </div>
    <div class="col-sm-2">
        <button type="button" class="close" aria-label="Close" (click)="close()" style="margin-right: 5px;">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-warning" style="margin-top: 5px;" role="alert" *ngIf="!taskManager.checkWork()">
        <span class="h4">Some task(s) has error(s) in working intervals.</span>
      </div>
    </div>
  </div>
  <app-work-edit-item *ngFor="let t of taskManager.tasks"
    (onDeleteWorkingInterval)="delete(t, $event)"
    [task]="t">
  </app-work-edit-item>
  <button class="btn btn-xs btn-warning" (click)="close()" style="margin: 5px;">Close</button>
</div>
