/* You can add global styles to this file, and also import other style files */
.task-item {
    border: 1px solid #ddd;
    padding: 0px 5px ;
    margin: 2px 0px;
}

.task-item-active {
    background-color: #d9edf7;
}

.task-item-running {
    background-color: #dff0d8;
}

.task-item h2 {
    color: darkslateblue;
    padding-left: 10px;
}

.vertical-align1 {
    margin-top: 12px;
}

.vertical-align2 {
    margin-top: 2px;
}

.vertical-align3 {
    margin-top: 27px;
}

.buttons-right {
    text-align: right;
}

.new-task-form {
    background-color: #cfc;
    padding: 5px;
}

.edit-new-task {
    display: none !important;
}

.span-timer, .span-timer-desc {
    color: #fff;
    padding: 0px 4px;
    margin-right: 0;
    border-radius: 3px;
    float: right;
}

.span-timer-desc {
    background-color: #5cb85c;
}

.span-timer {
    background-color: #449d44;
    margin-top: 4px;
    font-weight: bold;
    display: inline-block;
}

.edit-time {
    width: 100%;
    border: 0;
    line-height: 1em;
}

.edit-time-button {
    border: 1px solid #aaa;
}

.timers {
    border: 1px dashed #5cb85c;
    padding: 4px 2px 2px 2px;
    width: 100%;
}

.intervals-container {
    height: 300px;
    overflow: scroll;
}

.edit-interval {
    margin-top: 3px;
    padding-bottom: 3px;
    border-bottom: 1px dashed #c2e2b6;
}

.edit-work-title {
    color:  darkslateblue;
    font-size: 1.1em;
    font-weight: bold;
    font-style: italic;
}

.edit-work {
    margin: 0 !important;
    width: 100%;
}
