/* You can add global styles to this file, and also import other style files */
.task-item {
    border: 1px solid #ddd;
    padding: 0px 5px ;
}

.task-item-active {
    background-color: #ccc;
}

.task-item-running {
    background-color: #c2e2b6;
}

.task-item h2 {
    color: darkslateblue;
    padding-left: 10px;
}

.vertical-align1 {
    margin-top: 12px;
}

.vertical-align2 {
    margin-top: 2px;
}

.vertical-align3 {
    margin-top: 27px;
}

.buttons-right {
    text-align: right;
}

.new-task-form {
    background-color: #cfc;
    padding: 5px;
}

.btn-edit {
    background-color: #d7e6f4 !important;
    color: #73a7d9;
}

.btn-delete {
    background-color: #f6d7d5 !important;
    color:  #e0736c;
}

.edit-new-task {
    display: none !important;
}

.span-timer, .span-timer-desc {
    color: #fff;
    background-color: #5cb85c;
    padding: 4px;
    margin-right: 0;
    border-radius: 3px;
}

.span-timer {
    margin-top: 4px;
    font-weight: bold;
    display: inline-block;
}

.edit-time {
    width: 100%;
}
